<section class="bg-gray-100  dark:bg-gray-900">
  <owl-carousel-o [options]="mainOption">
    <ng-template carouselSlide>
      <img src="/images/ms-4.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img1.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/img2.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/ms-3.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img3.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>  
    <ng-template carouselSlide>
      <img src="/images/img4.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-2.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img5.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img6.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-1.avif" alt="" class=" shadow-md dark:shadow-gray-800">
    </ng-template>
  </owl-carousel-o>
</section>
