<section
  class="p-8 my-8 bg-gray-100 border border-gray-900 shadow-2xl rounded-2xl w-full sm:w-4/5 md:w-2/3 lg:w-1/2 text-center mx-auto"
>
  <h1 class="text-4xl font-extrabold mb-8 tracking-wide">Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

    <!-- Email -->
    <app-input
      [control]="getControl('email')"
      idInput="email"
      labelInput="Email"
      typeInput="email">
    </app-input>

    <!-- Password -->
    <app-input
      [control]="getControl('password')"
      idInput="password"
      labelInput="Password"
      typeInput="password"
      [togglePassword]="true">
    </app-input>

    <!-- Forgot password -->
    <div class="text-right mt-2">
      <a routerLink="/forget" class="text-md text-green-600 cursor-pointer hover:underline">
        Forgot password?
      </a>
    </div>

    <!-- Submit -->
    <button  type="submit"
      class="mt-5 w-full btn bg-green-600 disabled:bg-gray-400 disabled:cursor-not-allowed text-white text-lg font-semibold py-3 rounded-xl hover:bg-green-700 transition-colors">
      Login
      @if (isLoading) {
        <span><i class="fa fa-spinner animate-spin text-white"></i></span>
      }
    </button>

    @if (msg) {
      <p class="p-2 text-center rounded-2xl font-semibold  text-red-900 bg-red-200">{{ msg }}</p>
    }
    <p class="mt-6 text-sm text-gray-600">
      Don’t have an account?
      <a routerLink="/register" class="font-bold text-green-600 hover:underline">
        Register
      </a>
    </p>

  </form>
</section>
